Repository thejoaov/gobarber-11-web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": ["yarn prettify"],
  "src/**/*.{ts,tsx,js,jsx,json}": ["yarn lint"]
}

chore: test changes in lint-staged
  src/hooks/ToastContext/index.tsx
Due: yarn prettify, yarn lint

chore: test changes in lint-staged 2
  .lintstagedrc.json
Due: yarn prettify

chore: test changes in lint-staged 3
  src/pages/SignIn/styles.ts
Due: yarn prettify, yarn lint

chore: unnecessary git hook on husky config
  .huskyrc.json
Due: yarn prettify

Update README.md
  README.md
Due: none

feat(lesson): criando página de recuperação
  config-overrides.js
  src/components/Button/index.tsx
  src/components/Button/tests/Button.test.tsx
  src/components/Button/types.ts
  src/components/Input/index.tsx
  src/components/Input/tests/Input.test.tsx
  src/components/Input/types.ts
  src/components/Toast/index.tsx
  src/components/Toast/tests/Toast.test.tsx
  src/components/ToastContainer/tests/ToastContainer.test.tsx
  src/components/ToastContainer/types.ts
  src/components/Tooltip/tests/index.test.tsx
  src/hooks/AuthContext/index.tsx
  src/hooks/ToastContext/index.tsx
  src/pages/ForgotPassword/index.tsx
  src/pages/ForgotPassword/styles.ts
  src/pages/SignIn/index.tsx
  src/pages/SignIn/styles.ts
  src/pages/SignIn/tests/SignIn.test.tsx
  src/pages/SignUp/index.tsx
  src/pages/SignUp/tests/SignUp.test.tsx
  src/routes/Routes.tsx
  src/routes/index.tsx
  src/services/api/config.ts
  src/services/api/index.ts
  src/services/api/tests/Api.test.ts
  tsconfig.paths.json
Due: yarn prettify, yarn lint

test: fix path aliases tests
  package.json
Due: yarn prettify

chore: testing lint staged
  src/App.tsx
Due: yarn prettify, yarn lint

chore: return to normal
  src/App.tsx
Due: yarn prettify, yarn lint

style: fix prettier config
  .prettierrc
  src/components/Toast/styles.ts
  src/hooks/AuthContext/index.tsx
  src/pages/ForgotPassword/index.tsx
  src/pages/SignIn/index.tsx
  src/pages/SignUp/index.tsx
  src/services/api/index.ts
  src/services/storage/tests/Storage.test.tsx
  src/utils/getValidationErrors/tests/getValidationErrors.test.ts
Due: yarn prettify, yarn lint

style: fix prettier ignore config
  .prettierignore
  tsconfig.json
Due: yarn prettify

chore: test lint-staged
  .eslintignore
  .lintstagedrc.json
  package.json
Due: yarn prettify

feat(lesson): implementando redefinição
  .eslintrc.json
  src/components/Toast/index.tsx
  src/components/Toast/styles.ts
  src/components/Toast/types.ts
  src/hooks/ToastContext/index.tsx
  src/hooks/ToastContext/types.ts
  src/pages/Auth/ForgotPassword/index.tsx
  src/pages/Auth/ForgotPassword/styles.ts
  src/pages/Auth/ForgotPassword/tests/index.test.tsx
  src/pages/Auth/ForgotPassword/types.ts
  src/pages/Auth/ResetPassword/index.tsx
  src/pages/Auth/ResetPassword/styles.ts
  src/pages/Auth/ResetPassword/tests/ResetPassword.test.tsx
  src/pages/Auth/ResetPassword/types.ts
  src/pages/Auth/SignIn/index.tsx
  src/pages/Auth/SignIn/styles.ts
  src/pages/Auth/SignIn/tests/SignIn.test.tsx
  src/pages/Auth/SignIn/types.ts
  src/pages/Auth/SignUp/index.tsx
  src/pages/Auth/SignUp/styles.ts
  src/pages/Auth/SignUp/tests/SignUp.test.tsx
  src/pages/Auth/SignUp/types.ts
  src/pages/Dashboard/Dashboard/index.tsx
  src/pages/Dashboard/Dashboard/styles.ts
  src/pages/Dashboard/Dashboard/tests/index.test.tsx
  src/routes/index.tsx
  src/services/api/index.ts
  src/services/api/tests/Api.test.ts
  src/styles/theme.ts
Due: yarn prettify, yarn lint

chore: codeclimate config
  .codeclimate.yml
Due: none

fix: codeclimate fixes
  .lintstagedrc.json
  package.json
  src/pages/Auth/ForgotPassword/index.tsx
  src/pages/Auth/ResetPassword/index.tsx
  src/pages/Auth/SignIn/index.tsx
  src/pages/Auth/SignUp/index.tsx
Due: yarn prettify, yarn lint

feat(lesson): agendamentos da api
  .eslintrc.json
  package.json
  src/assets/ArrowLeftIcon.svg
  src/assets/ArrowRightIcon.svg
  src/config/dayPickerConfig.ts
  src/hooks/AuthContext/index.tsx
  src/hooks/AuthContext/types.ts
  src/pages/Auth/SignIn/index.tsx
  src/pages/Dashboard/Dashboard/index.tsx
  src/pages/Dashboard/Dashboard/styles.ts
  src/pages/Dashboard/Dashboard/types.ts
  src/services/api/index.ts
  src/services/api/types.ts
  yarn.lock
Due: yarn prettify, yarn lint

test: fix tests
  src/pages/Dashboard/Dashboard/tests/index.test.tsx
Due: yarn prettify, yarn lint

feat(lesson): exibindo agendamentos em tela
  src/assets/user.svg
  src/hooks/AuthContext/index.tsx
  src/pages/Auth/ResetPassword/index.tsx
  src/pages/Dashboard/Dashboard/index.tsx
  src/pages/Dashboard/Dashboard/styles.ts
  src/pages/Dashboard/Dashboard/tests/index.test.tsx
  src/pages/Dashboard/Dashboard/types.ts
  src/services/api/index.ts
Due: yarn prettify, yarn lint

feat(lesson): finalizando listagem de agendamentos
  src/pages/Dashboard/Dashboard/index.tsx
Due: yarn prettify, yarn lint

feat(lesson): pagina de perfil
  src/components/Input/styles.ts
  src/hooks/AuthContext/types.ts
  src/pages/Dashboard/Dashboard/index.tsx
  src/pages/Dashboard/Dashboard/styles.ts
  src/pages/Dashboard/Profile/index.tsx
  src/pages/Dashboard/Profile/styles.ts
  src/pages/Dashboard/Profile/tests/index.test.tsx
  src/pages/Dashboard/Profile/types.ts
  src/routes/index.tsx
  src/services/api/index.ts
Due: yarn prettify, yarn lint

test: improve api testing suite
  src/services/api/tests/Api.test.ts
Due: yarn prettify, yarn lint

test: fix dashboard and profile tests
  src/pages/Dashboard/Dashboard/tests/index.test.tsx
  src/pages/Dashboard/Profile/tests/index.test.tsx
Due: yarn prettify, yarn lint

feat(lesson): troca de avatar
  src/hooks/AuthContext/index.tsx
  src/hooks/AuthContext/types.ts
  src/pages/Dashboard/Profile/index.tsx
  src/pages/Dashboard/Profile/styles.ts
  src/services/api/index.ts
  src/services/api/tests/Api.test.ts
Due: yarn prettify, yarn lint

fix: update user
  src/pages/Dashboard/Profile/index.tsx
Due: yarn prettify, yarn lint

feat(lesson): alteração dos dados
  src/pages/Dashboard/Profile/index.tsx
  src/pages/Dashboard/Profile/types.ts
  src/services/api/index.ts
Due: yarn prettify, yarn lint

fix: codeclimate warnings
  .codeclimate.yml
  .eslintrc.json
Due: yarn prettify

chore: yarn lint --fix on lint-staged
  .lintstagedrc.json
Due: yarn prettify

chore: fix codeclimate unnecessary warning on styles
  .codeclimate.yml
Due: none

chore: fix codeclimate unnecessary warning on styles
  .codeclimate.yml
  .eslintrc.json
Due: yarn prettify

fix: signup loading feedback
  src/pages/Auth/SignUp/index.tsx
Due: yarn prettify, yarn lint
